<?xml version="1.0"?>
<robot name="bento-box-neo" xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Define robot constants -->
  <xacro:property name="base_width" value="0.4"/>
  <xacro:property name="base_length" value="0.49"/>
  <xacro:property name="base_height" value="0.09"/>

  <xacro:property name="wheel_radius" value="0.05"/>
  <xacro:property name="wheel_width" value="0.054"/>
  <xacro:property name="wheel_zoff" value="${0.12 - base_height/2}"/>
  <xacro:property name="wheel_xoff" value="0.212"/>
  <xacro:property name="wheel_axial_inset" value="-0.032"/>

<!-- Robot Base -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
      <material name="Red">
        <color rgba="0.7 0.0 0.0 1.0"/>
      </material>
    </visual>
  </link>

<!-- Robot Footprint -->
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 ${wheel_radius+wheel_zoff}" rpy="0 0 0"/>
  </joint>

<!--  LiDAR  -->
  <xacro:property name="lidar_xoff" value="-0.2"/>
  <xacro:property name="lidar_yoff" value="0.155"/>

  <xacro:macro name="tim571_lidar" params="mirror">
    <xacro:property name="lidar_scan_height" value="0.06246"/>
    <link name="laser${mirror+1}_frame">
      <visual>
        <origin xyz="0 0 ${-lidar_scan_height}" rpy="0 0 0"/> <!-- offset mesh -->
        <geometry>
          <mesh filename="file://$(cwd)/description/meshes/sick_tim571.dae"/>
        </geometry>
        <material name="Gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="laser${mirror+1}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="laser${mirror+1}_frame"/>
      <xacro:if value="${mirror}">
        <origin xyz="${lidar_xoff} ${lidar_yoff} ${lidar_scan_height + base_height/2}" rpy="0 0 ${radians(135)}"/>
      </xacro:if>
      <xacro:unless value="${mirror}">
        <origin xyz="${-lidar_xoff} ${-lidar_yoff} ${lidar_scan_height + base_height/2}" rpy="0 0 ${radians(315)}"/>
        </xacro:unless>
    </joint>
  </xacro:macro>

  <xacro:tim571_lidar mirror="False" />
  <xacro:tim571_lidar mirror="True" />

<!-- Wheel macro -->
  <xacro:macro name="wheel" params="prefix x_reflect y_reflect">
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="Gray">
          <color rgba="0.2 0.2 0.2 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="${prefix}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="${x_reflect * wheel_xoff} ${y_reflect*(base_width/2 - wheel_width/2 + wheel_axial_inset)} ${-wheel_zoff}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>

  <!-- LEFT SIDE -->
  <xacro:wheel prefix="wheel_front_left" x_reflect="1" y_reflect="1"/>
  <xacro:wheel prefix="wheel_rear_left" x_reflect="-1" y_reflect="1"/>

  <!-- RIGHT SIDE -->
  <xacro:wheel prefix="wheel_front_right" x_reflect="1" y_reflect="-1"/>
  <xacro:wheel prefix="wheel_rear_right" x_reflect="-1" y_reflect="-1"/>

</robot>
