[loggers]
keys = root, core, logic, transform, pib_control

[handlers]
keys = coreHandler, logicHandler, transformHandler, pibControlHandler

[formatters]
keys = defaultFormatter

# root logger
[logger_root]
level = INFO
handlers = 

# logger for core
[logger_core]
level = INFO
handlers = coreHandler
qualname = pib_gestures.core
propagate = 0

# handler for core.log
[handler_coreHandler]
class = FileHandler
level = INFO
formatter = defaultFormatter
args = ('/home/giu/Task_Manager_Pib/src/pib_gestures_action/modules/pib_gestures/src/pib_gestures/logging_utils/core.log', 'a', 'utf-8')

# logger for utils.logic
[logger_logic]
level = DEBUG
handlers = logicHandler
qualname = pib_gestures.utils.logic
propagate = 0

# handler for logic.log
[handler_logicHandler]
class = FileHandler
level = DEBUG
formatter = defaultFormatter
args = ('/home/giu/Task_Manager_Pib/src/pib_gestures_action/modules/pib_gestures/src/pib_gestures/logging_utils/logic.log', 'a', 'utf-8')

# logger for utils.transform
[logger_transform]
level = DEBUG
handlers = transformHandler
qualname = pib_gestures.utils.transform
propagate = 0

# handler for transform.log
[handler_transformHandler]
class = FileHandler
level = DEBUG
formatter = defaultFormatter
args = ('/home/giu/Task_Manager_Pib/src/pib_gestures_action/modules/pib_gestures/src/pib_gestures/logging_utils/transform.log', 'a', 'utf-8')

# logger for utils.pib_control
[logger_pib_control]
level = DEBUG
handlers = pibControlHandler
qualname = pib_gestures.utils.pib_control
propagate = 0

# handler for pib_control.log
[handler_pibControlHandler]
class = FileHandler
level = DEBUG
formatter = defaultFormatter
args = ('/home/giu/Task_Manager_Pib/src/pib_gestures_action/modules/pib_gestures/src/pib_gestures/logging_utils/pib_control.log', 'a', 'utf-8')

# format
[formatter_defaultFormatter]
format = %(name)s - %(levelname)s - %(asctime)s - %(message)s
date = %Y-%m-%d %H:%M:%S
